.bg-secondary {
	background: $secondary !important;
}
a.bg-secondary {
	&:hover, &:focus {
		background-color: #a64ff5 !important;
	}
}
button.bg-secondary {
	&:hover, &:focus {
		background-color: #a64ff5 !important;
	}
}
.bg-success {
	background: $success !important;
}
a.bg-success {
	&:hover, &:focus {
		background-color: #15bf42 !important;
	}
}
button.bg-success {
	&:hover, &:focus {
		background-color: #15bf42 !important;
	}
}
.bg-info {
	background: $info !important;
}
a.bg-info {
	&:hover, &:focus {
		background-color: #1eb0e2 !important;
	}
}
button.bg-info {
	&:hover, &:focus {
		background-color: #1eb0e2 !important;
	}
}
.bg-warning {
	background: #f1b44c !important;
}
a.bg-warning {
	&:hover, &:focus {
		background-color: #e0a325 !important;
	}
}
button.bg-warning {
	&:hover, &:focus {
		background-color: #e0a325 !important;
	}
}
.bg-danger {
	background: $danger !important;
}
a.bg-danger {
	&:hover, &:focus {
		background-color: #de223d !important;
	}
}
button.bg-danger {
	&:hover, &:focus {
		background-color: #de223d !important;
	}
}
.bg-light {
	background-color: $background !important;
  }
a.bg-light {
	&:hover, &:focus {
		background-color: $background !important;
	}
}
button.bg-light {
	&:hover, &:focus {
		background-color: $background !important;
	}
}
.bg-dark {
	background-color: #343a40 !important;
}
a.bg-dark {
	&:hover, &:focus {
		background-color: #1d2124 !important;
	}
}
button.bg-dark {
	&:hover, &:focus {
		background-color: #1d2124 !important;
	}
}
/*--- gradient-backgrounds --*/

.bg-secondary-gradient {
	background: linear-gradient(to bottom right, $secondary 0%, #a64ff5 100%) !important;
}
a.bg-secondary-gradient {
	&:hover, &:focus {
		background-color: $secondary !important;
	}
}
button.bg-secondary-gradient {
	&:hover, &:focus {
		background-color: $secondary !important;
	}
}
.bg-success-gradient {
	background: linear-gradient(to bottom right, #21a544 0%, #62fb62 100%) !important;
}
a.bg-success-gradient {
	&:hover, &:focus {
		background-color: #448700 !important;
	}
}
button.bg-success-gradient {
	&:hover, &:focus {
		background-color: #448700 !important;
	}
}
.bg-info-gradient {
	background: linear-gradient(to bottom right, #1e63c3 0%, #00f2fe 100%) !important;
}
a.bg-info-gradient {
	&:hover, &:focus {
		background-color: #1594ef !important;
	}
}
button.bg-info-gradient {
	&:hover, &:focus {
		background-color: #1594ef !important;
	}
}
.bg-warning-gradient {
	background: linear-gradient(to bottom right, #f66b4e 0%, #fbc434 100%) !important;
}
a.bg-warning-gradient {
	&:hover, &:focus {
		background-color: #FBB034 !important;
	}
}
button.bg-warning-gradient {
	&:hover, &:focus {
		background-color: #FBB034 !important;
	}
}
.bg-danger-gradient {
	background-image: linear-gradient(to bottom right, #FF416C 0%, #FF4B2B 100%) !important;
}
a.bg-danger-gradient {
	&:hover, &:focus {
		background-color: #a11918 !important;
	}
}
button.bg-danger-gradient {
	&:hover, &:focus {
		background-color: #a11918 !important;
	}
}
.bg-light-gradient {
	background-color: #f8f9fa !important;
}
a.bg-light-gradient {
	&:hover, &:focus {
		background-color: #dae0e5 !important;
	}
}
button.bg-light-gradient {
	&:hover, &:focus {
		background-color: #dae0e5 !important;
	}
}
.bg-dark-gradient {
	background-color: #343a40 !important;
}
a.bg-dark-gradient {
	&:hover, &:focus {
		background-color: #1d2124 !important;
	}
}
button.bg-dark-gradient {
	&:hover, &:focus {
		background-color: #1d2124 !important;
	}
}
.bg-facebook-gradient {
	background: linear-gradient(to bottom right, #3b5998, #2b4170) !important;
}
.bg-white {
	background-color: rgb(var(--white)) !important;
  }
.bg-transparent {
	background-color: transparent !important;
}
.bg1 {
	background: linear-gradient(to right bottom, #163b7c 0%, #548beb 100%);
}
.bg2 {
	background: linear-gradient(to bottom right, #00f2fe 0%, #1e63c3 100%) !important;
}
.bg3 {
	background: linear-gradient(to bottom right, #f53e31, #dd4b39);
}
.bg-purple {
	background: #8927ec !important;
	color: #fff !important;
}
a.bg-purple {
	&:hover, &:focus {
		background-color: #8c31e4 !important;
	}
}
button.bg-purple {
	&:hover, &:focus {
		background-color: #8c31e4 !important;
	}
}


.display-1 i, .display-2 i, .display-3 i, .display-4 i {
	vertical-align: baseline;
	font-size: 0.815em;
}
.bg-blue-1 {
	background-color: #0061da;
	color: #fff !important;
}
.bg-blue {
	background: #546ef7;
	color: #fff !important;
}
a.bg-blue {
	&:hover, &:focus {
		background-color: #4032f1 !important;
	}
}
button.bg-blue {
	&:hover, &:focus {
		background-color: #4032f1 !important;
	}
}
.bg-indigo {
	background: linear-gradient(to bottom right, #6574cd 0%, #2f88f7 100%);
	color: #fff !important;
}
a.bg-indigo {
	&:hover, &:focus {
		background-color: #3f51c1 !important;
	}
}
button.bg-indigo {
	&:hover, &:focus {
		background-color: #3f51c1 !important;
	}
}


.bg-pink {
	background: #fc5296 !important;
	color: #fff !important;
}
a.bg-pink {
	&:hover, &:focus {
		background-color: #f33d7a !important;
	}
}
button.bg-pink {
	&:hover, &:focus {
		background-color: #f33d7a !important;
	}
}
.bg-red {
	background: linear-gradient(to bottom right, #e73827 0%, #f85032 100%);
	color: #fff !important;
}
a.bg-red {
	&:hover, &:focus {
		background-color: #a11918 !important;
	}
}
button.bg-red {
	&:hover, &:focus {
		background-color: #a11918 !important;
	}
}
.text-red {
	color: #c21a1a !important;
}
.bg-orange {
	background: #fc7303;
	color: #fff !important;
}
a.bg-orange {
	&:hover, &:focus {
		background-color: #fc7a12 !important;
	}
}
button.bg-orange {
	&:hover, &:focus {
		background-color: #fc7a12 !important;
	}
}
.text-orange {
	color: #ff5e00 !important;
}
.bg-yellow-1 {
	background-color: #FBB034;
	color: #fff !important;
}
.bg-yellow {
	background: #FBB034;
	color: #fff !important;
}
a.bg-yellow {
	&:hover, &:focus {
		background-color: #c29d0b !important;
	}
}
button.bg-yellow {
	&:hover, &:focus {
		background-color: #c29d0b !important;
	}
}
.text-yellow {
	color: #e8a100 !important;
}
.bg-green-1 {
	background-color: #4ecc48;
	color: #fff !important;
}
.bg-green {
	background: #4ecc48;
	color: #fff !important;
}
a.bg-green {
	&:hover, &:focus {
		background-color: #448700 !important;
	}
}
button.bg-green {
	&:hover, &:focus {
		background-color: #448700 !important;
	}
}
.text-green {
	color: #4ecc48 !important;
}
.bg-teal {
	background: #1caf9f !important;
}
a.bg-teal {
	&:hover, &:focus {
		background-color: #22a193 !important;
	}
}
button.bg-teal {
	&:hover, &:focus {
		background-color: #22a193 !important;
	}
}
.bg-cyan {
	background: #007ea7 !important;
	color: #fff !important;
}
a.bg-cyan {
	&:hover, &:focus {
		background-color: #117a8b !important;
	}
}
button.bg-cyan {
	&:hover, &:focus {
		background-color: #117a8b !important;
	}
}
.bg-gray {
	background: #5a6970 !important;
}
.bg-gray-dark {
	background: #6b7278 !important;
}
a.bg-gray {
	&:hover, &:focus {
		background-color: #6c757d !important;
	}
}
button.bg-gray {
	&:hover, &:focus {
		background-color: #6c757d !important;
	}
}
.text-gray {
	color: #969696 !important;
}

.bg-azure {
	background: $info;
}
.bg-purple-1 {
	background: #8927ec;
}
.bg-lime {
	background: #7bd235;
}

.peimary b {
	color: #623AA2;
}
.secondary b {
	color: #f66b4e;
}
.info b {
	color: #1e63c3;
}
.success b {
	color: #21a544;
}
.bg-light-gray {
	background-color: #f3f6fb;
}

.bg-primary-transparent {
	background-color: rgb(var(--primary-rgb), 0.1) !important;
}
.bg-secondary-transparent {
	background-color: rgb(var(--secondary-rgb), 0.1) !important;
}
.bg-success-transparent {
	background-color: rgba(0, 230, 130, 0.1) !important;
}
.bg-info-transparent {
	background-color: rgba(106, 178, 245, 0.1) !important;
}
.bg-warning-transparent {
	background-color: rgba(255, 162, 43, 0.1) !important;
}
.bg-danger-transparent {
	background-color: rgba(255, 56, 43, 0.1) !important;
}
.bg-pink-transparent {
	background-color: rgba(213, 109, 252, 0.1) !important;
}
.bg-purple-transparent {
	background-color: rgba(96, 77, 216, 0.1) !important;
}
.bg-dark-transparent {
	background-color: rgba(0, 0, 0, 0.15) !important;
}
.bg-white-transparent {
	background-color: rgba(255, 255, 255, 0.2) !important;
}
.bg-secondary-transparent {
	background-color: rgba(107, 178, 247, 0.08);
}
.bg-blue-transparent {
	background: rgba(84, 110, 247, 0.1);
}
.bg-primary-transparent {
	background: rgba(55, 193, 177, 0.2);
}
.bg-card-light .card {
	background: #f5f6fa;
	border: 1px solid $border;
	box-shadow: none;
}
body.bg-card-light {
	background: #fff;
}
.instagram {
	background: linear-gradient(to right bottom, #de497b 0%, #e1164f 100%);
}
.linkedin {
	background-image: linear-gradient(to right bottom, #0d97de 0%, #13547a 100%);
}
.twitter {
	background-image: linear-gradient(to right bottom, #00f2fe 0%, #1e63c3 100%);
}
.facebook {
	background-image: linear-gradient(to right bottom, #3d6cbf 0%, #1e3c72 100%);
}