/*-- Dark-header --*/

[data-header-style="dark"] {
    .main-header {
        --header-bg: 28, 28, 56;
        border-block-end: 1px solid rgba(255, 255, 255, 0.1) !important;
    }

    .hor-header .header-brand-img.desktop-logo {
        display: none !important;

        &.theme-logo {
            display: block !important;
        }
    }
    .main-header-right .nav-link.icon{
        color: var(--color);
    }

    .main-header-menu-icon span {
        background-color: var(--color);

        &::before,
        &::after {
            background-color: var(--color);
        }
    }

    .main-header-center .form-control {
        border-color: transparent;
    }

    .main-header-message > a,
    .main-header-notification > a {
        color: rgb(var(--white));
    }
    @media (max-width: 991px) {
        .theme-logo {
            display: block !important;
        }
        .desktop-logo-dark {
            display: none !important;
        }
        .navbar-toggler-icon {
            color: #d7d9db;
        }
        .responsive-navbar.navbar .navbar-collapse {
            background-color: $header-bg;
            border-block-start: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 8px 16px 0 rgb(0 0 0 / 12%);    
        }
    }
}

.dark-header .main-header-right .nav-link.icon {
    color: rgb(var(--white));
}

/*-- Dark-header --*/