@media (max-width: 1279px) {
	.wideget-user-info .wideget-user-warap {
		margin-block-start: 2rem !important;
	}
}
@media (max-width: 360px) {
	.wideget-user-desc {
		.wideget-user-img {
			width: 130px;
			height: 130px;
		}
		.user-wrap {
			margin-block-start: 0.7rem !important;
			margin-inline-start: 13px;
		}
	}
	.wideget-user-info .wideget-user-warap .wideget-user-warap-r {
		margin-inline-start: 5rem !important;
	}
}
.widget-info {
	i {
		width: 100px;
		height: 100px;
		padding: 27px 0;
		text-align: center;
		border: 2px solid #fff;
		border-radius: 50%;
	}
	a {
		border-block-end: 1px solid #fff;
	}
}
.widgets-cards .wrp {
	&.icon-circle {
		width: 73px;
		height: 73px;
		border-radius: 50px;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		padding: 0;
		margin-inline-end: 15px;
		i {
			font-size: 1.6rem;
			color: #fff;
		}
	}
	p {
		margin-block-end: 0;
		line-height: 1;
		margin-block-end: 10px;
		&:first-child {
			font-weight: 600;
			font-size: 25px;
		}
	}
}
.widgets {
	font-size: 35px;
	padding: 20px;
}
.widgetstext {
	inset-block-start: 0;
	inset-block-end: 0;
	padding: 20px 40px;
}
.widget-line h4 {
	font-size: 24px;
	font-weight: 600;
}
.fs {
	font-size: 25px;
}
.widget-line p {
	font-size: 16px;
}
.widget-line-list li {
	display: inline-block;
	font-size: 16px;
	line-height: 27px;
	padding: 5px 20px 0 15px;
	list-style-type: none;
}
.wideget-user-info {
	margin-block-start: 5px;
}
.wideget-user-desc .wideget-user-img {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	img {
		border-radius: 100%;
		margin-inline-end: 2rem;
		border: 3px solid #fff;
	}
}
.widget-progress .peogress {
	background-color: rgba(0, 0, 0, 0.1);
}
.widget-card-1 i {
	position: relative;
	inset-block-end: 1px;
	inset-inline-end: 11px;
	border-radius: 3px;
	font-size: 57px;
	color: #fff;
	opacity: 0.5;
	&:hover {
		color: #fff;
		font-size: 80px;
		position: absolute;
		inset-block-end: -10px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}
.wideget-user-desc .user-wrap {
	margin-block-start: 15px;
}
.wideget-user .wideget-user-icons a {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	text-align: center;
	border-radius: 100px;
	line-height: 2rem;
	margin-block-start: 0.3rem;
	&:hover {
		color: #fff;
	}
}
.wideget-user-info {
	.wideget-user-warap {
		display: flex;
		h4 {
			font-size: 1.5rem;
			font-weight: 500;
			margin-block-end: 0.4rem;
		}
		.wideget-user-warap-r {
			margin-inline-start: 10rem;
		}
	}
	.wideget-user-rating a {
		font-size: 18px;
	}
}
.wideget-user-tab .tab-menu-heading {
	padding: 0;
	background: #fff;
	border: 0px;
	.nav li a {
		color: #374254;
		font-size: 15px;
		font-weight: 400;
	}
}
.usertab-list {
	display: inline-block;
	li {
		width: 50%;
		margin-block-end: 1rem;
		float: left;
	}
}
.wideget-user-tab .tabs-menu1 ul li a {
	padding: 14px 20px 14px 20px;
	display: block;
}
.item-box {
	.item-box-wrap {
		margin-block-start: 15px;
	}
	.stamp i {
		font-size: 18px;
		font-size: 25px;
		line-height: 2;
	}
	.item-box-wrap h5 {
		font-size: 20px;
		font-weight: 500;
	}
}
.widgets-cards .widgets-cards-data {
	margin-block-start: 8px;
	.wrp p:first-child {
		font-size: 20px;
		font-weight: 500;
	}
}
.widget-drop {
	.dropdown-menu {
		position: absolute;
		transform: translate3d(-156px, 31px, 0px) !important;
		inset-block-start: 0px;
		inset-inline-start: 0px;
		will-change: transform;
		min-width: 80px;
	}
	.button:focus {
		border-color: transparant !important;
	}
}
#widgetChart1, #widgetChart2, #widgetChart3 {
	width: 110% !important;
	height: 142px !important;
	inset-block-end: -15px;
	position: relative;
	inset-inline-start: -17px;
	overflow: hidden !important;
	border-radius: 27%;
}
.widget-tittle {
	font-weight: 500;
}