.label-size {
	font-size: 3.8em;
	margin-left: 9px;
}
.label-font-size {
	font-size: 1.8em;
}
.label-medium-size {
	font-size: 1.2em;
}
.labels li {
	display: inline;
}
.label-title {
	font-size: 1.125rem;
}
.label-font {
	font-size: 0.8em;
}
.line-divide {
	border: 1px solid rgba(218, 216, 219, 0.2);
}
.label-default {
	background: #d5e0ec;
	color: #fff;
}
.label-success {
	background: $success;
	color: #fff;
}
.label-danger {
	background: #f5334f;
	color: #fff;
}
.label-warning {
	background: #f1b44c;
	color: #fff;
}
.label-info {
	background: $info;
	color: #fff;
}