/*------ Media object ------*/

.media {
	margin-block-start: 15px;
	zoom: 1;
	overflow: hidden;
}
.media-body {
	zoom: 1;
	overflow: hidden;
	width: auto;
	-ms-flex: 1;
	flex: 1;
}
.media-object {
	display: block;
}
.media img {
	width: 50px;
	height: 50px;
}
.media-right, .media>.pull-right {
	padding-inline-start: 10px;
}
.media-body, .media-left, .media-right {
	display: table-cell;
	vertical-align: top;
}
.media-left, .media>.pull-left {
	padding-right: 10px;
}
.media-heading {
	margin-block-start: 0;
	margin-block-end: 5px;
}
.media-body h4 {
	font-weight: 500;
	font-size: 16px;
}
.media-middle {
	vertical-align: middle;
}
.media-bottom {
	vertical-align: bottom;
}
.media {
	display: flex;
	align-items: flex-start;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
}
.list-media {
	.media-img {
		position: relative;
		float: $float-start;
		width: 48px;
		margin-right: 20px;
	}
	.info {
		padding-inline-start: 55px;
		min-height: 40px;
		height: auto;
		position: relative;
		h4 a {
			font-size: 16px;
			margin-block-start: 10px;
		}
		p {
			font-size: 13px;
		}
		.text-right {
			right: 0;
			color: #8a8a8a;
			inset-block-start: 50%;
			font-size: 12px;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			margin-block-start: -28px;
		}
	}
}
.media-icon {
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	border-radius: 100%;
}
.media-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
textarea[cols] {
	height: auto;
}
.media {
	display: flex;
	align-items: flex-start;
}
.mediaicon {
	font-size: 18px;
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;
	background: #000;
}
.mediafont {
	font-size: 16px;
	font-weight: 600;
}