/*---- Tags-----*/

.tag {
	font-size: 0.75rem;
	color: $color;
	background-color: $background;
	border-radius: 3px;
	// padding: 0 .5rem;
	padding-block-start: 0px;
    padding-inline-end: 0.5rem;
    padding-block-end: 0px;
    padding-inline-start: 0.5rem;
	line-height: 2em;
	display: -ms-inline-flexbox;
	display: inline-flex;
	cursor: default;
	font-weight: 400;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a.tag {
	text-decoration: none;
	cursor: pointer;
	transition: .3s color, .3s background;
	&:hover {
		background-color: rgba(110, 118, 135, 0.2);
		color: inherit;
	}
}
.tag-addon {
	display: inline-block;
	padding: 0 .5rem;
	color: inherit;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.06);
	// margin: 0 -.5rem 0 .5rem;
	margin-block-start: 0px;
    margin-inline-end: -0.5rem;
    margin-block-end: 0px;
    margin-inline-start: 0.5rem;
	text-align: center;
	min-width: 1.5rem;
	&:last-child {
		border-start-end-radius: 3px;
		border-end-end-radius: 3px;
	}
	i {
		vertical-align: middle;
		// margin: 0 -.25rem;
		margin-block-start: 0px;
		margin-inline-end: -0.25rem;
		margin-block-end: 0px;
		margin-inline-start: -0.25rem;
	}
}
a.tag-addon {
	text-decoration: none;
	cursor: pointer;
	transition: .3s color, .3s background;
	&:hover {
		background: rgba(0, 0, 0, 0.16);
		color: inherit;
	}
}
.tag-avatar {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 3px 0 0 3px;
	// margin: 0 .5rem 0 -.5rem;
	margin-block-start: 0px;
    margin-inline-end: 0.5rem;
    margin-block-end: 0px;
    margin-inline-start: -0.5rem;
}
.tag-blue {
	background-color: #467fcf;
	color: #fff;
}
.tag-indigo {
	background-color: #6574cd;
	color: #fff;
}
.tag-purple {
	background-color: #867efc;
	color: #fff;
}
.tag-pink {
	background-color: #ec82ef;
	color: #fff;
}
.tag-red {
	background-color: #c21a1a;
	color: #fff;
}
.tag-orange {
	background-color: #fc7303;
	color: #fff;
}
.tag-yellow {
	background-color: #ecb403;
	color: #fff;
}
.tag-green {
	background-color: #4ecc48;
	color: #fff;
}
.tag-teal {
	background-color: #2bcbba;
	color: #fff;
}
.tag-cyan {
	background-color: #17a2b8;
	color: #fff;
}
.tag-white {
	background-color: #fff;
	color: #fff;
}
.tag-gray {
	background-color: #868e96;
	color: #fff;
}
.tag-gray-dark {
	background-color: #343a40;
	color: #fff;
}
.tag-azure {
	background-color: $info;
	color: #fff;
}
.tag-lime {
	background-color: #7bd235;
	color: #fff;
}
.tag-primary {
	background-color: #467fcf;
	color: #fff;
}
.tag-secondary {
	background-color: #868e96;
	color: #fff;
}
.tag-success {
	background-color: #4ecc48;
	color: #fff;
}
.tag-info {
	background-color: $info;
	color: #fff;
}
.tag-warning {
	background-color: #ecb403;
	color: #fff;
}
.tag-danger {
	background-color: #c21a1a;
	color: #fff;
}
.tag-light {
	background-color: #f8f9fa;
	color: #fff;
}
.tag-dark {
	background-color: #343a40;
	color: #fff;
}
.tag-rounded {
	border-radius: 50px;
	.tag-avatar {
		border-radius: 50px;
	}
}
.tags {
	margin-block-end: -.5rem;
	font-size: 0;
	>.tag {
		margin-block-end: .5rem;
		&:not(:last-child) {
			margin-inline-end: .5rem;
		}
	}
	a {
		padding: 0 .5rem;
		color: $color;
		font-weight: 400;
		border: 1px solid $background;
	}
}